/*! Squarespace LESS Compiler  (less.js language v1.3.3)  */

h1,
h2,
h3,
h4 {
    font-family: "beaufort-pro", serif;
    font-weight: 300;
    font-style: normal
}

h1 em,
h2 em,
h3 em,
h4 em {
    font-family: "beaufort-pro", serif;
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'PrintedMoments';
    src: url('https://static1.squarespace.com/static/670423e106da6c036366fd10/t/67042f1ac94bbb494649b8e4/1728327450432/printedmoments-webfont.woff')
}

h1 strong em,
h2 strong em,
h3 strong em,
h4 strong em {
    font-family: 'PrintedMoments';
    font-weight: 300;
    font-style: normal !important;
    font-size: 1em;
    letter-spacing: 0em;
    line-height: .7em
}

.sqsrte-large strong em {
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: .12em;
    text-transform: uppercase !important
}

#block-yui_3_17_2_1_1729526298471_136511 .accordion-item__title {
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: .12em;
    text-transform: uppercase !important
}

#block-7ae7dcccee72fcd62db8 .accordion-item__title {
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: .12em;
    text-transform: uppercase !important
}

#footer-sections p a {
    text-decoration: none !important
}

#footer-sections .sqsrte-small {
    font-size: .9em
}

#footer-sections .sqsrte-small a {
    text-decoration: none !important
}

section[data-section-id="671f98a463cdf3070b52ca08"] ul[data-rte-list] li>*:first-child::before {
    content: "\2713";
    font-weight: 400;
    color: #86b3b3
}

section[data-section-id="671fc36334d51c13cff2ba89"] ul[data-rte-list] li>*:first-child::before {
    content: "\2713";
    font-weight: 400;
    color: #2b2b2b
}

#block-4f940c4f426c89c62220 ul[data-rte-list] li>*:first-child::before {
    content: "\2713";
    font-weight: 400;
    color: #86b3b3
}

#block-203088e0c3e865666e91 ul[data-rte-list] li>*:first-child::before {
    content: "\2713";
    font-weight: 400;
    color: #86b3b3
}

.sqs-button-element--primary {
    transform: perspective(1px) translatez(0)
}

.sqs-button-element--primary:hover {
    opacity: 1 !important;
    background: transparent !important
}

.sqs-button-element--primary:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #515151 !important;
    transition-duration: 1s
}

.sqs-button-element--primary:hover:before {
    right: 100%
}

.primary-button-style-solid .sqs-block-image .design-layout-poster .image-button a {
    padding: .8em;
    font-size: 1.2em
}

h3 a {
    text-decoration: none !important
}

h4 a {
    text-decoration: none !important
}

.sqsrte-large a {
    text-decoration: none !important
}

p a {
    text-decoration: none !important
}

.sqsrte-small a {
    text-decoration: none !important
}

.header-nav .header-nav-item--folder .header-nav-folder-content {
    padding: 0 !important
}

.header-nav .header-nav-item--folder .header-nav-folder-content .header-nav-folder-item a {
    padding: .75em 1em !important
}

.header-nav .header-nav-item--folder .header-nav-folder-content .header-nav-folder-item a:hover {
    border-bottom: 1px solid #2b2b2b
}

.header-nav-folder-item-content a:hover {
    opacity: 1 !important;
    font-style: normal !important
}

.header-nav-item::after {
    display: block;
    content: '';
    background: #2b2b2b;
    height: 0px;
    width: 0;
    margin-top: -2px !important;
    transition: width .5s;
    margin-right: auto
}

.header-nav-item:hover::after {
    width: 100%
}

body:not(.header--menu-open) .header-nav-folder-item--active .header-nav-folder-item-content {
    background-image: none !important;
    background-size: 0px !important;
    font-weight: 600
}

.sqs-block-form .form-wrapper .field-list .field .caption {
    text-transform: uppercase;
    font-size: .8em !important;
    letter-spacing: .05em
}

.field-element:focus {
    outline: none !important
}

.form-wrapper input[type=submit] {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    letter-spacing: .05em !important
}