/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * beaufort-pro:
 *   - http://typekit.com/eulas/00000000000000007735fc7b
 *   - http://typekit.com/eulas/00000000000000007735fc7d
 * gravesend-sans:
 *   - http://typekit.com/eulas/00000000000000007735cbb1
 *   - http://typekit.com/eulas/00000000000000007735cbb2
 *   - http://typekit.com/eulas/00000000000000007735cbb6
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */

/*{"last_published":"2025-01-06 22:06:09 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=fsc1wsd&ht=tk&f=43400.43401.43404.49832.49833&a=24726630&app=typekit&e=css");
@font-face {
    font-family: "gravesend-sans";
    src: url("https://use.typekit.net/af/bc003c/00000000000000007735cbb1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/bc003c/00000000000000007735cbb1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/bc003c/00000000000000007735cbb1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "gravesend-sans";
    src: url("https://use.typekit.net/af/b8ed3b/00000000000000007735cbb2/30/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/b8ed3b/00000000000000007735cbb2/30/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/b8ed3b/00000000000000007735cbb2/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "gravesend-sans";
    src: url("https://use.typekit.net/af/b7ba5f/00000000000000007735cbb6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/b7ba5f/00000000000000007735cbb6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/b7ba5f/00000000000000007735cbb6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "beaufort-pro";
    src: url("https://use.typekit.net/af/95c4e7/00000000000000007735fc7b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/95c4e7/00000000000000007735fc7b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/95c4e7/00000000000000007735fc7b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "beaufort-pro";
    src: url("https://use.typekit.net/af/3e3437/00000000000000007735fc7d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"), url("https://use.typekit.net/af/3e3437/00000000000000007735fc7d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"), url("https://use.typekit.net/af/3e3437/00000000000000007735fc7d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
}

.tk-gravesend-sans {
    font-family: "gravesend-sans", sans-serif;
}

.tk-beaufort-pro {
    font-family: "beaufort-pro", serif;
}